body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.shopping-cart {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: fadeIn 2s ease-in-out 1s backwards; /* Animación de aparición */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

li p {
  margin: 0 0 10px 0;
  text-align: center;
}

img {
  width: 80px;
  height: auto;
  margin-top: 10px;
}

.btn-pay {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer; /* Cambia el cursor a una mano */
}

.btn-pay:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}